<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/fonts/Octicons.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <section class="sticky">
            <!--- TODO: fix the alignment -->
            <label id="hamburger-label" class="icon-checkbox" for="nav-menu"><i class="icon icon-three-bars small dark"></i> PLICA GARDEN</label>
            <input id="nav-menu" type="checkbox" />
            {{nav | safe}}
        </section>
    </header>
    <main>
        <dialog id="modal">
            <p id="modal-info"></p>
        </dialog>
        <dialog id="file-upload-modal">
            <i class="icon icon-upload large light" title="Upload"></i>
        </dialog>
        <header>
            <h1>{{title}}</h1>
            {% if moodboard %}
            <ul id="moodboard-actions" class="rounded">
                <li title="Upload files">
                    <label for="moodboard-upload"><i class="icon icon-upload"></i></label>
                    <input type="file" id="moodboard-upload" accept=".md, image/*, video/*" multiple class="hidden" />
                </li>
            </ul>
            {% endif %}
        </header>
        <section class="content">
            {{content | safe}}
            {% if moodboard %}
            <ul id="moodboard" class="media-list">
                {% for item in media_list %}
                    {% if 'title' in item %}
                    <li class="rounded video-with-filename" title="{{ item.title }}">
                    {% else %}
                    <li class="rounded">
                    {% endif %}
                        {% if 'thumbnail' in item %}
                        <a class="block-context-menu video-link" index="{{ item.index }}" href="{{ item.src }}">
                            <img loading="lazy" src="{{ item.thumbnail }}" width="{{ item.width }}" height="{{ item.height }}" />
                        </a>
                        <p>{{ item.title }}</p>
                        {% else %}
                        <a class="block-context-menu image-link" index="{{ item.index }}" href="{{ item.src }}">
                            <img loading="lazy" src="{{ item.src }}" width="{{ item.width }}" height="{{ item.height }}" />
                        </a>
                        {% endif %}
                        <button class="delete-button rounded" onclick="deleteFile(this, '{{ item.src }}')" title="Delete"><i class="icon icon-close small light"></i></button>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
    </main>
    <footer></footer>
    <script src="/js/main.js"></script>
    <script src="/js/moodboard.js"></script>
</body>
</html>
