<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <section class="sticky">
            {{nav | safe}}
        </section>
    </header>
    <main>
        <aside id="modal" class="hidden">
            <p id="modal-info"></p>
            <span class="icon material-symbols-sharp hidden" title="Upload">Upload</span>
        </aside>
        <h1>{{title}}</h1>
        <section class="content">
            {{content | safe}}
            {% if media_list %}
            <ul class="media-list">
                {% for item in media_list %}
                    {% if 'title' in item %}
                    <li class="video-with-filename" title="{{ item.title }}">
                    {% else %}
                    <li>
                    {% endif %}
                        {% if 'width' in item %}
                        <img index="{{ item.index }}" class="block-context-menu" src="{{ item.src }}" onclick="openImage(this)" loading="lazy" alt="" width="{{ item.width }}" height="{{ item.height }}" />
                        {% elif 'title' in item %}
                        <video >
                            <source src="{{ item.src }}">
                            Your browser does not support the video tag.
                        </video>
                        <p>{{ item.title }}</p>
                        {% endif %}
                        <button class="delete-button" onclick="deleteFile(this, '{{ item.src }}')" title="Delete">&#10006;</button>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
    </main>
    <script src="/js/moodboard.js"></script>
</body>
</html>
