<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/fonts/MaterialSymbolsSharp.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <section class="sticky">
            {{nav | safe}}
        </section>
    </header>
    <main>
        <aside id="modal" class="hidden">
            <p id="modal-info"></p>
            <span class="icon material-symbols-sharp hidden" title="Upload">Upload</span>
        </aside>
        <header>
            <h1>{{title}}</h1>
            {% if moodboard %}
            <ul id="moodboard-actions" class="rounded">
                <!--
                <li title="Edit moodboard">
                    <label for="moodboard-edit"><span class="icon material-symbols-sharp small dark">edit</span><span class="visually-hidden">Edit moodboard</span></label>
                    <form id="moodboard-edit" class="rounded">
                        <legend>Edit moodboard</legend>
                        <label for="moodboard-edit-name">Name</label>
                        <input type="text" id="moodboard-edit-name" value="{{ title }}" />
                        <label for="moodboard-delete"><span class="icon material-symbols-sharp small dark">delete</span></label>
                    </form>
                </li>
                -->
                <li title="Upload files">
                    <label for="moodboard-upload"><span class="icon material-symbols-sharp small dark">upload</span><span class="visually-hidden">Upload files</span></label>
                    <input type="file" id="moodboard-upload" accept=".md, image/*, video/*" multiple class="hidden" />
                </li>
            </ul>
            {% endif %}
        </header>
        <section class="content">
            {{content | safe}}
            {% if moodboard %}
            <ul id="moodboard" class="media-list">
                {% for item in media_list %}
                    {% if 'title' in item %}
                    <li class="rounded video-with-filename" title="{{ item.title }}">
                    {% else %}
                    <li class="rounded">
                    {% endif %}
                        {% if 'width' in item %}
                        <img index="{{ item.index }}" class="block-context-menu" src="{{ item.src }}" onclick="openImage(this)" loading="lazy" alt="" width="{{ item.width }}" height="{{ item.height }}" />
                        {% elif 'title' in item %}
                        <video index="{{ item.index }}" class="block-context-menu" onclick="openVideo(this)" preload="metadata">
                            <source src="{{ item.src }}">
                        </video>
                        <p>{{ item.title }}</p>
                        {% endif %}
                        <button class="delete-button" onclick="deleteFile(this, '{{ item.src }}')" title="Delete">&#10006;</button>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
    </main>
    <script src="/js/main.js"></script>
    <script src="/js/moodboard.js"></script>
</body>
</html>
